@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* Card */
@media (min-width: 768px){
    .card-img{
        width: 155px;
        height: 155px;
    }
    .img-detail{
        width: 320px;
        height: 320px;
    }
}
